In [1]:
import numpy as np
import pandas as pd

In [7]:
import pandas as pd

# Define column data types
dtype_spec = {
    "Global_active_power": "float64",
    "Global_reactive_power": "float64",
    "Voltage": "float64",
    "Global_intensity": "float64",
    "Sub_metering_1": "float64",
    "Sub_metering_2": "float64",
    "Sub_metering_3": "float64",
}

# Load dataset without parsing dates
df = pd.read_csv(
    "./data/raw.txt",
    sep=";",
    dtype=dtype_spec,
    na_values=["?", "nan"],  # Handle missing values
    low_memory=False  # Prevent mixed-type warnings
)

# Combine "Date" and "Time" into a single datetime column
df["Datetime"] = pd.to_datetime(df["Date"] + " " + df["Time"], dayfirst=True)

# Drop old Date and Time columns
df.drop(columns=["Date", "Time"], inplace=True)

# Interpolate missing values
df.interpolate(method="linear", inplace=True)

# Display cleaned dataset
print(df.head())

   Global_active_power  Global_reactive_power  Voltage  Global_intensity  \
0                4.216                  0.418   234.84              18.4
1                5.360                  0.436   233.63              23.0
2                5.374                  0.498   233.29              23.0
3                5.388                  0.502   233.74              23.0
4                3.666                  0.528   235.68              15.8

   Sub_metering_1  Sub_metering_2  Sub_metering_3            Datetime
0             0.0             1.0            17.0 2006-12-16 17:24:00
1             0.0             1.0            16.0 2006-12-16 17:25:00
2             0.0             2.0            17.0 2006-12-16 17:26:00
3             0.0             1.0            17.0 2006-12-16 17:27:00
4             0.0             1.0            17.0 2006-12-16 17:28:00

In [8]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
count,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2.075259e+06,2075259
mean,1.090280e+00,1.236492e-01,2.408328e+02,4.621481e+00,1.109485e+00,1.289229e+00,6.442386e+00,2008-12-06 07:12:59.999994112
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,2006-12-16 17:24:00
25%,3.100000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2007-12-12 00:18:30
50%,6.140000e-01,1.000000e-01,2.410000e+02,2.751585e+00,0.000000e+00,0.000000e+00,1.000000e+00,2008-12-06 07:13:00
75%,1.528000e+00,1.940000e-01,2.428700e+02,6.400000e+00,0.000000e+00,1.000000e+00,1.700000e+01,2009-12-01 14:07:30
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01,8.000000e+01,3.100000e+01,2010-11-26 21:02:00
std,1.052628e+00,1.124194e-01,3.237763e+00,4.424361e+00,6.115843e+00,5.786613e+00,8.415860e+00,NaN

In [9]:
df.count()

Global_active_power      2075259
Global_reactive_power    2075259
Voltage                  2075259
Global_intensity         2075259
Sub_metering_1           2075259
Sub_metering_2           2075259
Sub_metering_3           2075259
Datetime                 2075259
dtype: int64

The test codes will be generated on 2.5% of the dataset; later, on huge compute machine full dataset will be used to save compute and time.

In [10]:
# Select the first 2.5% of the data
subset_df = df.iloc[:int(len(df) * 0.025)]

# Save to a new CSV file
df.to_csv("./data/dataset.csv", index=False)
subset_df.to_csv("./data/subset_dataset.csv", index=False)

print("Saved successfully!")

Saved successfully!